/* @import "../../app.scss"; */

.hero {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #242424, #333333, #1f1f1f);
  position: sticky;
  top: 0;
  overflow: hidden;
  
  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    z-index: 9999;

    .heroDescription {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      flex-grow: 1;

      .textContainer {
        font-size: 40px;
        margin-top: 30%;
        display: flex;
        flex-direction: column;

        svg {
          margin-bottom: 40px;
        }

        span {
          margin: 0px;
          font-weight: normal;
          font-family: "Acumin Pro";
        }
      }

      .test2 {
        width: 40%;

        .roundedButton {

          p {
            margin: 0;
            font-weight: normal;
            font-family: "Acumin Pro";
          }
        }
      }

    }

      h2 {
        font-size: 45px;
        color: #ffffff;
        letter-spacing: 10px;
        font-family: "Acumin Pro Bold";
        font-weight: bold;
      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 50px;
        z-index: 2;
      }
  }

  .hero-imageContainer {
    height: 110%;
    top: 0;
    margin-left: 100px;
    z-index: 2;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    z-index: 1;
  }
}

/* .hero-description{
  color: white;
  font-size: 24px;
  font-weight: 300;
  z-index: 2;
  p{
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Acumin Pro Bold";
  }
  svg{
    transform: scale(2);
    margin-bottom: 40px;
  }
} */

.sliderContainer{
  z-index: 1;
  position: absolute;
  top: calc(100vh - 350px);
  font-size: 50vh;
  font-weight: bold;
  font-family: "Acumin Pro Bold";
}

.slider{
  position: relative;
  white-space: nowrap;
}

.slider p{
  position: relative;
  margin: 0px;
  color: #FFFFFF20;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.second {
  position: absolute !important;
  left: 100%;
  top: 0;
}

.hero-description{
  font-family: "Acumin Pro";
  color: white;
  font-size: 40px;
  font-weight: 300;
  z-index: 2;
  p {
    margin: 0px;
    margin-bottom: 10px;
  }
}